{% extends 'layout.html.twig' %}

{% block title %} Home {% endblock %}

{% block content %} 
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3 mt-5">
                                
                            </div>

                            <!--Show jobs by category-->
                            <div class="row my-5">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                            <h3></h3>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Show jobs by category-->
                            <div class="row my-5">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                            <h3></h3>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div> 
{% endblock %}

{% block javascripts %}
	{{  parent()  }}
{% endblock %}
